@import 'open-props/style';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import './reset';

$bg: 226 48% 11%;

/* base styles */
html,
body,
#root {
    height: 100%;
}
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 1.4em;
    background: #dfdfdf;
    color: #333;
}
h1,
h2,
h3,
p {
    margin: 0;
}
input,
textarea {
    color: #333;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.page-title {
    text-align: center;
    margin: 40px auto;
    color: #333;
}
.loading,
.error {
    text-align: center;
    margin: 40px auto;
}

.navbar {
    background: #58249c;
    padding: 20px;
    color: #fff;

    nav {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    a {
        &.brand {
            margin-right: auto;
            color: #fff;
            text-decoration: none;
        }

        &:last-child {
            color: #fff;
            text-decoration: none;
            margin-left: 40px;
            padding: 8px;
            border: 1px solid #fff;
            border-radius: 4px;

            &:hover {
                background: #fff;
                color: #333;
            }
        }
    }
}

.App {
    min-height: 100vh;

    &.dark {
        background: #333;
    }
}

.home {
    max-width: 1200px;
    margin: 60px auto;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1200px;
    margin: 40px auto;

    .card {
        background: #fff;
        color: #333;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        position: relative;

        &.dark {
            background: #555;

            p,
            h3,
            div {
                color: #e4e4e4;
            }
        }

        &:hover {
            transform: rotate(3deg);
        }

        h3 {
            color: #555;
            margin-bottom: 6px;
        }

        p {
            color: #999;
            font-size: 0.9em;
        }

        div {
            color: #555;
            font-size: 0.7em;
            margin: 20px 0;
            line-height: 1.5em;
        }

        a {
            color: #555;
            text-decoration: none;
            display: block;
            background: #e2e2e2;
            font-size: 0.9em;
            width: 100px;
            text-align: center;
            width: 120px;
            padding: 8px;
            border-radius: 4px;
            margin: 20px auto 0;
        }
    }
}

.recipe {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;

    &.dark {
        background: #555;
        color: #e4e4e4;

        h2,
        li {
            color: #e4e4e4;
        }
    }

    ul {
        display: flex;
        padding: 0;
        justify-content: center;
        margin-top: 0;
    }

    li {
        list-style-type: none;
        margin-right: 10px;
        color: #777;

        &::after {
            content: ',';
        }

        &:last-child::after {
            content: '.';
        }
    }

    .method {
        text-align: left;
        line-height: 1.5em;
        padding-top: var(--size-3);
    }
}

.create {
    color: #555;
    max-width: 480px;
    margin: 60px auto;

    label span {
        display: block;
        margin: 30px 0 10px;
    }

    p {
        margin-top: 10px;
        font-size: 0.8em;
    }

    button {
        display: block;
        width: 100px;
        font-size: 1em;
        color: #fff;
        padding: 8px 20px;
        border: 0;
        border-radius: 4px;
        background-color: #58249c;
        cursor: pointer;
        text-decoration: none;
        margin: 20px auto;
        text-align: center;
    }
}

.ingredients {
    display: flex;
    align-items: center;

    button {
        margin: 0 0 0 10px;
    }
}

.searchbar {
    form {
        display: flex;
        align-items: center;
    }
    input {
        margin-left: 10px;
    }
}

.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;

    .theme-buttons div {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: 15px;
        border-radius: 50%;
    }
}

.mode-toggle {
    margin-right: auto;

    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}
